name: FastRG Node ci
on:
  push: 
    branches: 
      - master
      - ci-dev
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup build environment
      uses: ./.github/actions/setup-build-env
    - run: sudo ${{ github.workspace }}/boot.sh
    - run: sudo docker build --no-cache -t fastrg:latest .
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup build environment
      uses: ./.github/actions/setup-build-env
    - run: sudo ${{ github.workspace }}/boot.sh
    - run: cd ${{ github.workspace }} && sudo make test
    - run: sudo ${{ github.workspace }}/northbound/controller/run_tests.sh
